<div class="sidebar">
  <div class="brand">
    <img src="assets/images/BurgerKing.png" alt="Logo" class="logo" />
    <span class="title" (click)="showCompanyPopupMethod()">{{ empresaNome || 'Nome da Empresa' }}</span>
  </div>
  <hr class="separator" />
  <ul class="nav-links" #navigation>
    <li *ngFor="let tab of tabs">
      <div
        class="nav-item"
        [ngClass]="{ active: selectedTab.id === tab.id, hovered: hoveredTab === tab.id }"
        (click)="selectTab(tab)"
        (mouseover)="hoverTab(tab.id)">
        <i class="fa-solid icon" [ngClass]="'fa-' + tab.icon"></i>
        <span class="title">{{ tab.label }}</span>
      </div>
    </li>
  </ul>

  <!-- Popup de outras empresas -->
  <div *ngIf="isPopupVisible" class="popup-overlay" (click)="closePopup()">
    <div class="popup-content" (click)="$event.stopPropagation()"> <!-- Evita que o clique no conteúdo feche o popup -->
      <ul class="empresas-list">
        <li *ngFor="let empresa of outrasEmpresas" class="empresa-item" (mouseover)="hoverEmpresa(empresa)" (mouseout)="resetEmpresaHover()">
          <img src="assets/images/BurgerKing.png" alt="Logo Burger King" class="popup-logo" /> <!-- Imagem antes do nome -->
          <span>{{ empresa }}</span>
        </li>
      </ul>
      
    </div>
  </div>
</div>
