/* ===================== Dashboard ===================== */
.dashboard {
  padding-left: 250px; /* Espaço para a sidebar */
  margin-top: 60px; /* Para que o conteúdo não sobreponha a topbar */
  transition: margin-left 0.3s ease; /* Transição suave ao alternar o colapso da sidebar */
}

/* ===================== Topbar ===================== */
.topbar {
  width: calc(100% - 240px);
  height: 60px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: var(--black);
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  z-index: 999;
  border-bottom: none;
  box-shadow: none;
  transition: background 0.3s ease;
}

.topbar .toggle {
  font-size: 1.8rem;
  cursor: pointer;
  transition: color 0.3s ease;
  color: var(--primary-color);
}

.topbar .toggle:hover {
  color: var(--accent-color);
}

/* ===================== Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 80px 20px 20px 60px; /* Aumenta o padding superior para mover os cartões para baixo */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
  font-family: 'Roboto', sans-serif;
}

/* Efeito de hover */
.cardBox .card:hover {
  background: var(--primary-color);
  color: var(--white);
  transform: scale(1.05);
}

.cardBox .card .numbers {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--primary-color);
  transition: color 0.3s ease;
  z-index: 1;
}

.cardBox .card .cardName {
  font-size: 1.2rem;
  position: relative;
  color: #666;
  z-index: 0;
  transition: color 0.3s ease;
}

.cardBox .card .iconBx {
  font-size: 2rem;
  color: var(--accent-color);
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 2;
  transition: color 0.3s ease;
}

/* Efeito de hover nas partes internas */
.cardBox .card:hover .numbers {
  color: var(--white);
}

.cardBox .card:hover .cardName {
  color: var(--white);
}

.cardBox .card:hover .iconBx {
  color: var(--white);
}

/* ===================== Responsividade ===================== */
@media (max-width: 991px) {
  .cardBox {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: 1fr;
  }
}
