<div class="container">
  <!-- Sidebar -->
  <app-sidebar
    [selectedTab]="selectedTab"
    [hoveredTab]="hoveredTab"
    (tabSelected)="selectTab($event)">
  </app-sidebar>

  <!-- Main Content -->
  <div class="main">
    <div class="topbar">
      <div class="toggle" #toggle>
        <i class="fa-solid fa-bars"></i>
      </div>
      <div class="userInfo">
        <!-- Removido o texto 'Bem-vindo, Usuário' -->
        <!-- <span>Bem-vindo, Usuário</span> -->
      </div>
    </div>

    <!-- Card Box -->
    <div class="cardBox">
      <div class="card">
        <div class="cardInfo">
          <div class="numbers">R$ 0,00</div>
          <div class="cardName">PDV 1</div>
        </div>
        <div class="iconBx">
          <i class="fa-solid fa-cash-register"></i>
        </div>
      </div>

      <div class="card">
        <div class="cardInfo">
          <div class="numbers">R$ 0,00</div>
          <div class="cardName">DELIVERY</div>
        </div>
        <div class="iconBx">
          <i class="fa-solid fa-truck"></i>
        </div>
      </div>

      <div class="card">
        <div class="cardInfo">
          <div class="numbers">R$ 0,00</div>
          <div class="cardName">TOTEM 1</div>
        </div>
        <div class="iconBx">
          <i class="fa-solid fa-tv"></i>
        </div>
      </div>

      <div class="card">
        <div class="cardInfo">
          <div class="numbers">R$ 0,00</div>
          <div class="cardName">TOTEM 2</div>
        </div>
        <div class="iconBx">
          <i class="fa-solid fa-tv"></i>
        </div>
      </div>
    </div>
  </div>
</div>
